In [2]:
import streamlit as st
import numpy as np
import pandas as pd

/Users/kenichi/opt/anaconda3/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [3]:
df = pd.DataFrame({
    '1列目':[1,2,3,4],
    '2列目':[10,20,30,40],
})

In [4]:
df

   1列目  2列目
0    1   10
1    2   20
2    3   30
3    4   40

In [5]:
df = pd.DataFrame(

    np.random.rand(100,2),
    columns=['lan','lon']
)

In [6]:
df

           a         b         c
0   0.317678  0.577868  0.167243
1   0.253164  0.026674  0.192682
2   0.252297  0.661888  0.090475
3   0.856855  0.487933  0.310304
4   0.707300  0.722124  0.931939
5   0.772929  0.875423  0.958911
6   0.790041  0.560016  0.153658
7   0.879949  0.185945  0.532878
8   0.293518  0.644285  0.855544
9   0.473245  0.578146  0.459937
10  0.006815  0.212494  0.103546
11  0.600281  0.858650  0.046052
12  0.696895  0.271331  0.165207
13  0.085598  0.989116  0.606156
14  0.547594  0.549580  0.130304
15  0.635962  0.949978  0.922762
16  0.209201  0.072380  0.340618
17  0.071677  0.081935  0.852328
18  0.815240  0.565483  0.773438
19  0.601712  0.854897  0.586240